/* HTML Elements */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: #232931;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #232931;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #393e46;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #fff;   
}

a {
    color: #393e46;
    text-emphasis: none;
    text-decoration: none;
}

hr {
    width: 100px;
    border-color: #eeeeee;
    border-style: dotted none none none;
    border-width: .75rem;
    margin: 150px auto;
    background-color: #393e46;
}

/* Top Container */

.top-container {
    background-color: #4ecca3;
    position: relative;
    padding: 100px;
    background-image: linear-gradient(to right bottom, hsla(160, 55%, 55%, 0.8), rgba(40, 180, 133, 0.8)), url(../images/molera.jpeg);
    height: 95vh;
    background-size: cover;
    background-position: center;
}

.top-container__btn:link,
.top-container__btn:visited {
    text-transform: uppercase;
    transition: all .5s;
    position: absolute;
    bottom: 2rem;
    transform: translateX(-50%);
}

.top-container__btn:hover .arrow--dark {
    color: #232931;
    transform: rotate(90deg);
}

.arrow--dark {
    color: #eeeeee;
    height: 1rem;
    margin-left: 20px;
    transition: all .5s;
}

/* Middle Container */

.middle-container {
    background-color: #393e46;
    padding: 100px;
}

.middle-container h2 {
    color: #4ecca3;
}

.middle-container h3 {
    color: #4ecca3;
}

.middle-container p {
    color: #eeeeee;
}

/* About Me */

.profile {
    min-height: 80vh;
    width: 50%;
    margin: 0 auto;
    line-height: 2;
}

.profile h2 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.profile-pic-container {
    max-width: 350px;
    margin: 0 auto;
}

#profile-pic {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    border-style: solid;
    border-color: #232931;
    border-width: 1rem;
}

/* Skills */

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: center;
    line-height: 2;
}

.skill-img-container {
    max-width: 200px;
    margin: 50px auto;
}

.skill-img {
    width: 100%;
    filter: invert(69%) sepia(19%) saturate(1051%) hue-rotate(109deg) brightness(70%) contrast(89%);
}

.skill-img-text {
    overflow: visible;
    text-align: center;
}

.skill-list-container {
    margin-top: 5%;
    line-height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.skill-list {
    color: #fff;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.skill-list li {
    padding-left: 1.25rem;
}

.img-attr {
    position: relative;
    display: inline-block;
    width: 80%;
    
}

.img-attr-text {
    display: none;
    font-size: .5rem;
    color: #232931;
    background-color: #4ECCA3;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 10;
    top: -5px;
    line-height: 1;
}

.skill-img-container:hover .img-attr-text {
    display: block;
}

.img-attr a {
    font-size: .5rem;
    color: #232931;
}

/* Projects */

.projects {
    min-height: 80vh;
}

.project-card-deck {
    margin-top: 100px;
}

.project-column {
    margin: 3% auto;
    width: 425px;
    height: 375px;
}

.card {
    border: none;
    object-fit: cover;
}

.card-body {
    padding: 0;
    object-fit: cover;
}

.card-img-container {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-img {
    height: 100%;
    width: 100%;
}

.card-img-container:hover .card-img-overlay {
    opacity: 1;
}

.card-img-overlay {
    background-color: #206A52;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4% 8%;
    opacity: 0;
    transition: .5s ease;
}

.overlay-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 4% 2%;
}

.project-link {
    font-size: 1.25rem;
    padding: 0;
    color: #232931;
    text-decoration: underline;
}

.project-link:hover {
    color: #4ECCA3;
}

.project-link h3 {
    color: #232931;
    margin-bottom: 1.5rem;
}

.project-link h3:hover {
    color: #4ECCA3;
}

.project-description {
    font-size: 1rem;
    text-align: justify;
}

.project-tech {
    font-size: 1rem;
    margin-bottom: 0;
}

/* Contact */

.contact-me {
    min-height: 60vh;
    width: 50%;
    margin: 0 auto;
    line-height: 2;
}

.contact-me h3 {
    margin-bottom: 40px;
}

.btn:link,
.btn:visited {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px 40px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .contact-me__btn:link,
 .contact-me__btn:visited {
    margin-top: 60px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    transition: all .2s;
 }
 
 .contact-me__btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
 }

 .contact-me__btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    outline: none;
 }

 .contact-me__btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.contact-me__btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* Bottom Container */

.bottom-container {
    background-color: #eeeeee;
    padding-top: 40px;
    padding-bottom: 20px;
    line-height: 2;
}

.contact-text {
    margin-top: 100px;
}

.footer-link {
    color: #393e46;
    font-family: 'Montserrat', sans-serif;
    margin: 0 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #4ECCA3;
    transition: .1s;
    -webkit-transition: .1s;
    text-decoration: underline;
}

.copyrite {
    color: #232931;
    font-size: .75rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

/* Buttons */

.btn {
    white-space: nowrap;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.btn-green {
    background: #4ECCA3;
    background-image: -webkit-linear-gradient(top, #4ECCA3, #206A52);
    background-image: -moz-linear-gradient(top, #4ECCA3, #206A52);
    background-image: -ms-linear-gradient(top, #4ECCA3, #206A52);
    background-image: -o-linear-gradient(top, #4ECCA3, #206A52);
    background-image: -webkit-gradient(to bottom, #4ECCA3, #206A52);
    color: #EEEEEE;
    border: solid #232931 1px;
}

.btn--dark {
    background: #232931;
    color: #eeeeee;
    border: solid #eeeeee 1px;
}

.btn--dark:hover {
    background-color: #eeeeee;
    color: #232931;
}

.btn-green:hover {
    color: #eee;
}

.btn-green::after {
    background-color: #206A52;
}

/* Media Queries */

@media (min-width: 1250px) {
    .profile {
        width: 40%;
    }
    
    .skill-row {
        width: 40%;
    }

    .project-column {
        width: 500px;
        height: 440px;
    }

    .contact-me {
        width: 40%;
    }
}

@media (min-width: 1500px) {
    .profile {
        width: 30%;
    }
    
    .skill-row {
        width: 30%;
    }

    .contact-me {
        width: 30%;
    }
}

@media (max-width: 1000px) {
    .top-container {
        padding-left: 75px;
        padding-right: 75px;
    }

    .middle-container {
        padding-left: 75px;
        padding-right: 75px;
    }

    .profile {
        width: 65%;
    }
    
    .skill-row {
        width: 70%;
    }

    .contact-me {
        width: 65%;
    }
}

@media (max-width: 750px) {
    .top-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .middle-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .profile {
        width: 80%;
    }

    .profile-pic-container {
        max-width: 300px;
    }
    
    .skill-row {
        width: 80%;
    }

    .contact-me {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .top-container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .middle-container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .profile {
        width: 95%;
    }

    .profile-pic-container {
        max-width: 250px;
    }
    
    .skill-row {
        width: 95%;
    }

    .project-column {
        width: 375px;
        height: 325px;
    }

    .project-title {
        font-size: 5vw;
        margin-bottom: 1rem;
    }

    .project-description {
        font-size: 2.5vw;
    }

    .overlay-text h4 {
        font-size: 3vw;
    }

    .project-tech {
        font-size: 2.5vw;
    }

    .contact-me {
        width: 95%;
    }
}

@media (max-width: 400px) {
    .project-title {
        font-size: 6vw;
        margin-bottom: 1rem;
    }

    .project-description {
        font-size: 3vw;
    }

    .overlay-text h4 {
        font-size: 4vw;
    }

    .project-tech {
        font-size: 3vw;
    }
}